.SPAN {
    cursor: pointer;
    padding: 5px;
}

.alias {
    cursor: alias;
}

.auto {
    cursor: auto;
}

.crosshair {
    cursor: crosshair;
}

.default {
    cursor: default;
}

.e-resize {
    cursor: e-resize;
}

.grab {
    cursor: grab;
}

.help {
    cursor: help;
}

.move {
    cursor: move;
}

.n-resize {
    cursor: n-resize;
}

.ne-resize {
    cursor: ne-resize;
}

.nw-resize {
    cursor: nw-resize;
}

.pointer {
    cursor: pointer;
}

.progress {
    cursor: progress;
}

.s-resize {
    cursor: s-resize;
}

.se-resize {
    cursor: se-resize;
}

.sw-resize {
    cursor: sw-resize;
}

.text {
    cursor: text;
}

.w-resize {
    cursor: w-resize;
}

.wait {
    cursor: wait;
}

.not-allowed {
    cursor: not-allowed;
}

.no-drop {
    cursor: no-drop;
}

.zoom-in {
    cursor: zoom-in;
}